@font-face {
  font-family: 'Inter', sans-serif;
  src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-family: Agency FB;
    src: url(./fonts/agency-fb_[allfont.net].ttf);
}
.row-main{
  font-family: 'Agency FB', Arial;
  color: white;
  animation: onload 3.5s;
}
.container-getfiles {
  display: flex;
  align-items: center;
}
.span-getfiles{
  margin-left: 3vw;
  font-size: 1.3rem;
  cursor: pointer;
}
.div-color{
  background-color: #1e1e1e60;
  height: 100vh;
  animation: explosion 2.75s ease-in-out;
}
@keyframes explosion{
  0%{
    width: 0vw;
    height: 0vh;
    
  }
  25%{
    width: 0vw;
    height: 0vh;
  }
  50%{
    width: 0vw;
    height: 0vh;
    
  }
  75%{
    width: 0vw;
    height: 0vh;
    border-radius: 400px;
    background-color: #ff02b7a2;
    
  }
  83%{
    background-color: #85019f88;
  }
  100%{
    border-radius: 0px;
    width: 100vw;
    height: 100vh;
  }
}
.search-row{
  border-bottom: 2px solid #000000;
}
.btn-folders{
  background-color: #3434343c;
  cursor: pointer;
  color:inherit;
  border: 2px solid #000000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right-style: hidden;
  width: 89.3vw;
  margin-left: -0.5vw;
  height: 8vh;
  transition: 0.25s;
  margin-top: 1vh;
  background-image: url('./image/folder-icon.png');
  background-size: 3.5vw 7vh;
  background-repeat: no-repeat;
}
.btn-metadata{
  height: 8vh;
  background-color: #29292993;
  border: 2px solid #000000;
  color:inherit;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.25s;
}
.btn-metadata:hover{
  border-color: #393838;
}
.btn-folders:hover{
  border-color: #393838;
}
.btn-files{
  background-color: #3434343c;
  color:inherit;
  border: 2px solid #000000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right-style: hidden;
  width: 89.3vw;
  margin-left: -0.5vw;
  height: 8vh;
  transition: 0.25s;
  margin-top: 1vh;
  background-image: url('./image/file-icon.png');
  background-size: 3.5vw 7vh;
  background-repeat: no-repeat;
}
.btn-files:hover{
  border-color: #393838;
}
.btn-folders-simple{
  background-color: #29292993;
  color:inherit;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid #000000;
  border-right-style: hidden;
  width: 13.5vw;
  height: 8vh;
  margin-top: 8px;
  transition: 0.25s;
  background-image: url('./image/Folder-icon-4.png');
  background-size: 3.5vw 7vh;
  background-repeat: no-repeat;
}
.btn-folders-simple:hover{
  border-color: #393838;
}
.btn-files-simple{
  background-color: #292929c4;
  color:inherit;
  border: 2px solid #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right-style: hidden;
  width: 13.5vw;
  height: 8vh;
  margin-top: 8px;
  transition: 0.25s;
  background-size: 3.3vw 6.7vh;
  background-position: 0.2vw ;
  background-image: url('./image/file-icon.png');
  background-repeat: no-repeat;
}
.btn-file-simple:hover{
  border-color: #393838;
}
.btn-back{
  background-color: #29292900;
  color:inherit;
  border-radius: 15px;
  border-style: none;
  width: 2.5vw;
  height: 4vh;
  margin-top: 8px;
  transition: 0.25s;
  background-image: url('./image/back-icon.png');
  background-size: 2.5vw 5vh;
  background-position: 0vw -0.5vh;
  background-repeat: no-repeat;
}
.btn-back-placeholder{
  background-color: #29292900;
  background-image: url('./image/back-icon.png');
  background-position: 0vw 0.3vh;
  background-size: 2.5vw 5vh;
  opacity: 0.3;
  width: 2.5vw;
  height: 5vh;
  border-style: none;
  cursor: default;
}
.col-back-button{
  border-right: 2px solid #000000;
}
.col-home-base{
  color:inherit;
  background-color: #1e1e1e00;
  border: 1px solid #000000;
  height: 100vh;
  animation: righttoleft 0.5s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

}
@keyframes righttoleft {
  0%{
    transform: translateX(350px);
  }
  100%{
    transform: translateX(0px);
  }
}
.col-home-search{
  background-color: #1e1e1e00;
  border: 1px solid #000000;
  height: 10vh;
}
.input-search{
  background-color: #2b2b2b96;
  border: 1px solid #000000;
  color: inherit;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  padding-left: 20px;
  margin-left: 0.7vw;
  border: 1px solid black;
  transition: 0.25s;
  width: 76vw;
  height: 6vh;
}
.input-search-small{
  background-color: #2b2b2b96;
  border: 1px solid #000000;
  color: aliceblue;
  border-radius: 10px;
  border-right: none;
  padding-left: 20px;
  margin-left: 0.7vw;
  border: 1px solid black;
  transition: 0.25s;
  width: 76vw;
  height: 6vh;
}
.span-metadata{
  margin-top: 1vw;
  font-size: 1.25rem;
  background-color: #2222225d;
}
.input-search:hover{
  border: 1px solid #242424;
}
.input-search:focus{
  border: 1px solid #000000;
}
.input-search-aftermeta{
  background-color: #2b2b2b96;
  border: 1px solid #000000;
  color: inherit;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  padding-left: 20px;
  border: 1px solid black;
  transition: 0.25s;
  width: 63vw;
  height: 6vh;
}

.div-popup{
  background-color: #202020b5;
  color: inherit;
  border-radius: 10px;
  font-size: 22px;
  border: 2px solid #000000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 17vh;
  right: 25vw;
  height: 60vh;
  width: 50vw;
  z-index: 2;
  animation: popupload 0.35s ease-in-out 1;
}
.div-popup-title{
  border-bottom: 2px solid #00000084;
}
.div-menu{
  background-color: #0000003b;
  border-right: 2px solid black;
  height: 100vh;
  
}
.div-popupexit{
  background-color: #2020207f;
  color: inherit;
  border-radius: 10px;
  font-size: 22px;
  z-index: 2;
  border: 2px solid #000000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 17vh;
  right: 25vw;
  height: 60vh;
  width: 50vw;
  opacity: 0;
  animation: popupunload 0.35s ease-in-out 1;
}
.pop-textarea{
  height: 8vh; 
  width: 48vw;
  margin-left: 0.7vw;
  border: 2px solid #1e1e1e;
  font-size: medium;
  background-color: #a4a3a38a;
  resize: none;
  transition: 0.25s;
}
.pop-textarea:focus{
  border: 2px solid #858585;
}
.popup-input:focus{
  border: 2px solid #858585;
}
@keyframes popupunload{
  0%{
    opacity: 1;
  }
  25%{
    opacity: 1;
  }
  100%{
    height: 0vh;
    opacity: 0;
    background-color: #9b0039;
  }
}
@keyframes popupload{
  0%{
    opacity: 0;
    height: 0vh;
    width: 38vw;
    background-color: #5f009b;
  }
  50%{
    opacity: 1;
    width: 49.6vw;
    
  }
  100%{
    width: 50vw;
  }
}
.pop-input{
  background-color: #afafaf8a;
  border: 2px solid #1e1e1e;
  border-radius: 15px;
  width: 48vw;
  margin-left: 0.7vw;
  transition: 0.25s;
}
.pop-input:focus{
  border: 2px solid #858585;
}
.pop-button{
  background-color: #000000b2;
  border: 2px solid #1e1e1e;
  border-radius: 12px;
  color: inherit;
  width: 15vw;
  transition: 0.25s;
}
.pop-span{
  margin-left: 0.7vw;
}
.pop-button:hover{
  color: white;
  width: 15.3vw;
  border: 2px solid #646363;
}
input[type="file"] {
  display: none;
}
.pop-file{
  display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: inherit;
    width: 17vw;
    text-align: center;
    background-color: #2e2e2e;
    margin-top: 1vh;
    margin-left: 17vw;
    border-radius: 4px;
    border: none;
    transition: all 0.3s ease;
}
.pop-file:hover{
  background-color: #656565;
}
.pop-file-uploaded{
  display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: inherit;
    width: 8vw;
    text-align: center;
    background-color: #2e2e2e;
    margin-top: 1vh;
    margin-left: 0.8vw;
    border-radius: 4px;
    border: none;
    transition: all 0.3s ease;
    animation: fileupload 0.5s ease-in-out 1;
}
.pop-row{
  background-color: #6969694e;
  border: 1px solid #5c5b5b;
  border-radius: 10px;
  margin-top: 0.5vh;
  animation: rowspawn 0.3s ease-in-out;
  margin-left: 0.7vw;
  width: 48vw
}
@keyframes rowspawn{
  0%{
    width: 30vw;
    transform: translateY(4vh);
  }
  75%{
    transform: translateY(0.5vh);
  }
  100%{
    transform: translateY(0vh);
    width: 48vw;
  }
}
@keyframes rowbuttonspawn{
  0%{
    width: 20vw;
  }
  100%{
    width: 44vw;
  }
}
.pop-rowbutton{
  border: none;
  border-radius: 15px;
  color: inherit;
  background-color: #131313a2;
  width: 44vw; 
  animation: rowbuttonspawn 0.3s ease-in-out ;
  transition: 0.25s;
}
.pop-rowbutton:hover{
  background-color: #7070708a;
}
.pop-deletebutton{
  background-image: url('./image/delete-icon.png');
  background-size: 2vw 4vh;
  background-repeat: no-repeat;
  background-position: 0.5vw ;
  border: 0.5px solid #1e1e1e;
  background-color: #131313a2;
  border-radius: 10px;
  height: 5vh;
  width: 3vw;
  float: right;
  margin-right: 0.15vw;
  transition: 0.25s;
}
.pop-deletebutton:hover{
  background-color: #7070708a;
}
@keyframes fileupload{
  0%{
    width: 17vw;
    margin-left: 17vw;
    color: #00000000;
    background-color: #8600d4;
  }
  25%{
    color: #00000000;
  }
  100%{
    margin-left: 0.8vw;
    width: 8vw;
  }
}
.pop-file-uploaded:hover{
  background-color: #707070;
}
.pop-span-uploaded{
  margin-left: 1.5vw;
  animation: onload 0.65s ease-in-out 1;
}
.div-showfile-popup{
  background-color: #2d2d2dd6;
  border-radius: 10px;
  border: 2px solid #000000;
  position: absolute;
  top: 6vh;
  left: 15vw;
  z-index: 2;
  height: 90vh;
  width: 65vw;
}
.pop-fileselected{
  opacity: 0;
}
.pop-select{
  background-color: #f7f6f68a;
  margin-left: 0.8vw;
}
.pop-back{
  background-image: url("./image/pop-back.png");
  background-size: 1.5vw 3vh;
  background-repeat: no-repeat;
  background-position: 0.5vw ;
  background-color: #1e1e1e00;
  color: #00000000;
  border: 2px solid #00000000;
  transition: 0.15s;
  animation: slowappear 0.35s ease-in-out;
}
@keyframes slowappear{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.pop-back:hover{
  background-size: 1.7vw 3.4vh;
}
.btn-popup-close{
  float: right;
  height: 4.5vh;
  background-color: #1e1e1e00;
  color: inherit;
  border: 2px solid #00000000;
  border-radius: 10px;
  transition: 0.25s;
}
.btn-popup-close:hover{
  color: rgb(142, 3, 3);
  transition: 0.25s;
}
.row-bottom{
  position: fixed;
   bottom: 2.2vh;
}
.popup-ocr{
  background-color: #2020207f;
  color: inherit;
  border-radius: 10px;
  font-size: 22px;
  border: 2px solid #000000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: absolute;
  width: 80vw;
  z-index: 2;
  height: 87vh;
  top: 5vh;
  left: 9vw;
}
/*             login page              */
.login-body{
  background: hsla(264, 92%, 28%, 1);

  background: linear-gradient(315deg, hsla(264, 92%, 28%, 1) 0%, hsla(302, 93%, 35%, 1) 100%);
  
  background: -moz-linear-gradient(315deg, hsla(264, 92%, 28%, 1) 0%, hsla(302, 93%, 35%, 1) 100%);
  
  background: -webkit-linear-gradient(315deg, hsla(264, 92%, 28%, 1) 0%, hsla(302, 93%, 35%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3A0688", endColorstr="#AC06A7", GradientType=1 );

	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
          
}

.btn-login{
  color: rgb(219, 218, 218);
  background: rgba(10, 6, 0, 0.78);
  border: 2px solid #2e2e37;
  padding: 10px 20px;
  border-radius: 11px;
  width: 9vw;
  transition: 0.25s;
}

.btn-signup{
  color: rgb(219, 218, 218);
  background: rgba(10, 6, 0, 0.78);
  border: 2px solid #2e2e37;
  padding: 8px 20px;
  border-radius: 11px;
  width: 12vw;
  transition: 0.25s;
}
.btn-signup:hover{
  border: 2px solid #a1a1a1;
  background: rgb(54, 53, 54);
  transition: 0.25s;
}
.btn-login:hover{
  border: 2px solid #a1a1a1;
  background: rgb(54, 53, 54);
  transition: 0.25s;
}
.row-login{
  font-family: 'Jost', sans-serif;
  border-radius: 25px;
  background-color: #20202061;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 40vw;
  animation: onload 3.5s;
  
  
}
.row-signup{
  font-family: 'Jost', sans-serif;
  border-radius: 25px;
  background-color: #20202061;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 40vw;
  
  
}
.row-loginanimated{
  font-family: 'Jost', sans-serif;
  border-radius: 25px;
  background-color: #20202061;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 40vw;
  
  
}
@keyframes onload{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.p-login{
  color: aliceblue;
}
.login-input-username{
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 8px;
  background: rgba(7, 6, 6, 0.753);
}
.login-input-password{
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 800px) {
  .row-loginanimated{
    border-radius: 25px;
    background-color: #20202061;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 90vw;
    
  }
  .btn-login{
    width: 13vw
  }
  .btn-signup{
    width: 13vw
  }
}
@media (max-width: 800px) {
  .btn-login{
    width: 71vw
  }
  .btn-signup{
    width: 71vw
  }
}

/* test stuff   */
@keyframes gradient {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.ocr-div{
  border: 2.5px solid rgb(79, 33, 134);
  position: fixed;
  transition: 2s;
}
.ocr-div:hover{
  border: 2px solid rgb(202, 0, 98);
  transition: 0.5s;
}
.ocr-div[title]:hover::after{
  content: attr(title);
  border: 1px solid #1e1e1e;
  background-color: #000000;
  color: white;
  position: absolute;
  margin: 15px;
}