@font-face {
  font-family: 'Inter', sans-serif;
  src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-family: Agency FB;
    src: url(./fonts/agency-fb_[allfont.net].ttf);
}
.row-main{
  background-color: #1e1e1e;
  font-family: 'Agency FB', Arial;
}
.btn-folders{
  background-color: #292929c4;
  color:aliceblue;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid #000000;
  border-right-style: hidden;
  width: 13.5vw;
  height: 8vh;
  margin-top: 8px;
  transition: 0.25s;
  background-image: url('./image/folder-icon.png');
  background-repeat: no-repeat;
}
.btn-metadata{
  height: 8vh;
  background-color: #292929c4;
  border: 2px solid #000000;
  color:aliceblue;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.25s;
}
.btn-metadata:hover{
  border-color: #393838;
}
.btn-folders:hover{
  border-color: #393838;
}
.btn-files{
  background-color: #292929c4;
  color:aliceblue;
  border: 2px solid #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right-style: hidden;
  width: 13.5vw;
  height: 8vh;
  margin-top: 8px;
  transition: 0.25s;
  background-image: url('./image/file-icon.png');
  background-repeat: no-repeat;
}
.btn-files:hover{
  border-color: #393838;
}
.btn-back{
  background-color: #292929c4;
  color:aliceblue;
  border-radius: 15px;
  border: 2px solid #000000;
  width: 3vw;
  height: 8vh;
  margin-top: 8px;
  transition: 0.25s;
  background-image: url('./image/back-icon.png');
  background-repeat: no-repeat;
}
.col-home-base{
  color:aliceblue;
  background-color: #1e1e1e00;
  border: 1px solid #000000;
  height: 100vh;
}
.col-home-search{
  background-color: #1e1e1e00;
  border: 1px solid #000000;
  height: 10vh;
}
.input-search{
  background-color: #1e1e1ed3;
  border: 1px solid #000000;
  color: aliceblue;
  border-radius: 10px;
  transition: 0.25s;
  width: 64vw;
  height: 6vh;
}
.input-search-aftermeta{
  background-color: #1e1e1ed3;
  border: 1px solid #000000;
  color: aliceblue;
  border-radius: 10px;
  transition: 0.25s;
  width: 44vw;
  height: 6vh;
}
.input-search:focus{
  border-color: #6c6c6c;
  transition: 0.25s;
}
.btn-manage{
  background-color: #292929c4;
  color:aliceblue;
  border-radius: 10px;
  border: 2px solid #000000;
  width: 22vw;
  margin: 1vh;
  height: 7vh;
  transition: 0.25s;
}
.btn-manage:hover{
  width: 23vw;
  transition: 0.25s;
}
.div-popup{
  background-color: #1e1e1e;
  border-radius: 10px;
  border: 2px solid #000000;
  position: absolute;
  top: 25vh;
  left: 25vw;
  height: 45vh;
  width: 40vw;
}
.div-showfile-popup{
  background-color: #1e1e1e;
  border-radius: 10px;
  border: 2px solid #000000;
  position: absolute;
  top: 6vh;
  left: 15vw;
  height: 90vh;
  width: 65vw;
}
.btn-popup-close{
  float: right;
  background-color: white;
}
.row-bottom{
  position: fixed;
   bottom: 2.2vh;
}
/*             login page              */
.login-body{
  background: hsla(264, 92%, 28%, 1);

  background: linear-gradient(315deg, hsla(264, 92%, 28%, 1) 0%, hsla(302, 93%, 35%, 1) 100%);
  
  background: -moz-linear-gradient(315deg, hsla(264, 92%, 28%, 1) 0%, hsla(302, 93%, 35%, 1) 100%);
  
  background: -webkit-linear-gradient(315deg, hsla(264, 92%, 28%, 1) 0%, hsla(302, 93%, 35%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3A0688", endColorstr="#AC06A7", GradientType=1 );

	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
          
}
@-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.btn-login{
  color: rgb(219, 218, 218);
  background: rgba(10, 6, 0, 0.78);
  border: 2px solid #2e2e37;
  padding: 10px 20px;
  border-radius: 11px;
  width: 9vw;
  transition: 0.25s;
}

.btn-signup{
  color: rgb(219, 218, 218);
  background: rgba(10, 6, 0, 0.78);
  border: 2px solid #2e2e37;
  padding: 8px 20px;
  border-radius: 11px;
  width: 12vw;
  transition: 0.25s;
}
.btn-signup:hover{
  border: 2px solid #a1a1a1;
  background: rgb(54, 53, 54);
  transition: 0.25s;
}
.btn-login:hover{
  border: 2px solid #a1a1a1;
  background: rgb(54, 53, 54);
  transition: 0.25s;
}
.row-login{
  font-family: 'Jost', sans-serif;
  border-radius: 25px;
  background-color: #20202061;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 40vw;
  animation: onload 3.5s;
  
  
}
.row-signup{
  font-family: 'Jost', sans-serif;
  border-radius: 25px;
  background-color: #20202061;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 40vw;
  
  
}
.row-loginanimated{
  font-family: 'Jost', sans-serif;
  border-radius: 25px;
  background-color: #20202061;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 40vw;
  
  
}
@keyframes onload{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.p-login{
  color: aliceblue;
}
.login-input-username{
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 8px;
  background: rgba(7, 6, 6, 0.753);
}
.login-input-password{
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 800px) {
  .row-loginanimated{
    border-radius: 25px;
    background-color: #20202061;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 90vw;
    
  }
  .btn-login{
    width: 13vw
  }
  .btn-signup{
    width: 13vw
  }
}
@media (max-width: 800px) {
  .btn-login{
    width: 71vw
  }
  .btn-signup{
    width: 71vw
  }
}

/* test stuff   */
@keyframes gradient {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.awooga-test {  
  opacity: 1;
  background-color: red;
  animation: test 2s;
  
}
.awooga-testanimated {  
  opacity: 1;
  background-color: red;
  
}
@keyframes test{
  0%{
    transform: translateX(-50%);
  }
  100%{
    transform: translateX(0%);
  }
}
