.search-button{
    height: 6vh;
    width: 2.5vw;
    border: 1px solid #000000;
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #393939d3;
    background-color: #2b2b2b96;
    background-image: url("./image/search-icon.png");
    background-size: 1.5vw 3vh;
    background-position: 5px 9px;
    background-repeat: no-repeat;
    text-indent: -9999px;    
}

.search-button:hover{
    border: 1px solid #242424;
}

.filters-button{
    height: 6.1vh;
    width: 4vw;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: #1e1e1ed3;
    color: rgb(123, 123, 123);
    background-image: url("./image/search-icon.png");
    background-size: 1.5vw 3vh;
    background-position: 1.25vw 9px;
    background-repeat: no-repeat;
    text-indent: -9999px;    
}


.dir-button{
    border: 1px solid #00000000;
    background-color: rgba(209, 21, 21, 0);
    font-size: 25px;
    color: rgb(202, 210, 217);
    transition: 0.25s;
}
.dir-button:hover{
    border: 1px solid #00000000;
    background-color: rgba(209, 21, 21, 0);
    font-size: 25px;
    color: aliceblue;
}
.refresh-button{
    height: 4.5vh;
    width: 2.3vw;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: #1e1e1ed3;
    color: rgb(123, 123, 123);
    background-image: url("./image/refresh-icon.png");
    background-size: 1.5vw 3vh;
    background-position: 0.36vw ;
    background-repeat: no-repeat;
    text-indent: -9999px;    
    transition: 0.25s;
}
.refresh-button:hover{
    border: 1px solid #6000b4;
    background-color: #3b0358d3;
}
.newfol-button{
    margin-top: 3vh;
    margin-left: 0.9vw;
    height: 10vh;
    width: 5vw;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: rgba(68, 68, 68, 0.326);
    color: rgb(123, 123, 123);
    background-image: url("./image/newfolder-test.png");
    background-size: 4vw 8vh;
    background-position: 0.4vw 0.6vh ;
    background-repeat: no-repeat;
    text-indent: -9999px;    
    transition: 0.25s;
}
.newfol-button:hover{
    border: 1px solid #43017c;
    background-color: #0e014b5f;
    background-size: 4.5vw 9vh;
    background-position: 0.2vw 0.3vh ;
}
.newfile-button{
    margin-top: 3vh;
    margin-left: 0.9vw;
    height: 10vh;
    width: 5vw;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: rgba(68, 68, 68, 0.326);
    color: rgb(123, 123, 123);
    background-image: url("./image/newfile-icon.png");
    background-size: 3.5vw 7vh;
    background-position: 0.6vw ;
    background-repeat: no-repeat;
    text-indent: -9999px; 
    transition: 0.25s;
}
.newfile-button:hover{
    border: 1px solid #43017c;
    background-color: #0e014b5f;
    background-size: 4vw 8vh;
    background-position: 0.4vw 0.5vh ;
}
.mangeroles-button{
    margin-top: 3vh;
    margin-left: 0.9vw;
    height: 10vh;
    width: 5vw;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: rgba(68, 68, 68, 0.326);
    color: rgb(123, 123, 123);
    background-image: url("./image/manageroles.png");
    background-size: 3.5vw 7vh;
    background-position: 0.67vw ;
    background-repeat: no-repeat;
    text-indent: -9999px; 
    transition: 0.25s;
}
.mangeroles-button:hover{
    border: 1px solid #43017c;
    background-color: #0e014b5f;
    background-size: 4vw 8vh;
    background-position: 0.45vw 0.5vh ;
}
.mangeadmin-button{
    margin-top: 3vh;
    margin-left: 0.9vw;
    height: 10vh;
    width: 5vw;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: rgba(68, 68, 68, 0.326);
    color: rgb(123, 123, 123);
    background-image: url("./image/manageadmin.png");
    background-size: 3.5vw 7vh;
    background-position: 0.65vw ;
    background-repeat: no-repeat;
    text-indent: -9999px; 
    transition: 0.25s;
}
.mangeadmin-button:hover{
    border: 1px solid #43017c;
    background-color: #0e014b5f;
    background-size: 4vw 8vh;
    background-position: 0.45vw 0.65vh ;
}
.logout-button{
    margin-top: 3vh;
    margin-left: 0.9vw;
    height: 10vh;
    width: 5vw;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: rgba(68, 68, 68, 0.326);
    color: rgb(123, 123, 123);
    background-image: url("./image/logout.png");
    background-size: 3.5vw 7vh;
    background-position: 0.6vw ;
    background-repeat: no-repeat;
    text-indent: -9999px; 
    transition: 0.25s;
}
.logout-button:hover{
    border: 1px solid #43017c;
    background-color: #0e014b5f;
    background-size: 4vw 8vh;
    background-position: 0.35vw 0.6vh ;
}
.span-menu{
    color: aliceblue;
    margin-left: 1.4vw;
    padding-bottom: 1vh;
    font-size: 1.1rem;
}
.metadata-nav-button{
    background-color: #242424;
    color: white;
    border: 1px solid #000000;
    border-radius: 10px;
}